.carousel {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100%;
}

.carousel-inner {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  white-space: nowrap;
  align-items: center;
}
